<!DOCTYPE html>
<html lang="en">
	<head>
		<title>American Home Security Systems | Business</title>
	</head>

	<body class="preload" data-spy="scroll" data-offset="0" data-target="#navigation">

	<%= render 'layouts/nav' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">American Home Security Systems is a quickly-growing security firm based in Columbus, Ohio.
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>Business Needs</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p>You need to be where your clients are. But why leave yourself vulnerable? Keep your business protected in any area. </p>
			</div>
			<div class="t">
				<p>We'll work with you and your budget to maximize the monitored area, and minimize your costs, in both money and risk.</p>
			</div>
		</div>
		<div id="t_navigation"></div>

	<span class="sep_line sep_bottom"></span
	</section>

	<div class="accordion-group">
		<div class="img-responsive">
			<section class="cta">
				<%= link_to "Sign up for a free quote!", :class => "cta_btn" %>
				<span class="cta_sep"></span>
			</section>
		</div>
	</div>

	<div id="c">
		<div class="container"></div>
	</div>

	<script>
		$('.carousel').carousel({
		  interval: 3500
		})
	</script>

	</body>
</html>