<!DOCTYPE html>
<html lang="en">
	<head>
		<title>American Home Security Systems | Offers</title>
	</head>

	<body class="preload" data-spy="scroll" data-offset="0" data-target="#navigation">

	<%= render 'layouts/nav' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">American Home Security Systems is a quickly-growing security firm based in Columbus, Ohio.
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section id="home" name="home"></section>


	<section class="testimonials wrapper">

		<span class="sep_line sep_top">
		</span>

		<h2>Special Offers</h2>
		<div class="testi_slider" id="tslider">
			<div class="t">
				<p>Senior citizens (people aged 62 or older) get a 15% discount on all equipment, installation, and monitoring!</p>
			</div>
		</div>
		<div id="t_navigation"></div>

	<span class="sep_line sep_bottom"></span
	</section>

	<div class="accordion-group">
		<div class="img-responsive">
			<section class="cta">
				<%= link_to "Act now and get 20% off on equipment and installation!", :class => "cta_btn" %>
				<span class="cta_sep"></span>
			</section>
		</div>
	</div>

	<div id="c">
		<div class="container"></div>
	</div>

	<script>
		$('.carousel').carousel({
		  interval: 3500
		})
	</script>

	</body>
</html>